#  The Battle of Neighborhoods

## Introduction

### This project is to take a glimpse at different neighborhoods of Bengaluru which is a capital city of an Indian state Karnataka and Hyderabad which is a capital city of an Indian state Telangana. Both cities are major cities of their states.

### People who want to open their business  can look at this comparison and make decision where can they get more profit.

## DATA

### I have organized two data sets of zipcode , neighborhoods with latitude and longtude for both the cities from multiple online sources.

In [2]:
# The code was removed by Watson Studio for sharing.

   Zipcode          Name  Latitude  Longitude
0   560071        Domlur   12.9608    77.6361
1   560038   Indiranagar   12.9699    77.6499
2   560003   Malleswaram   13.0031    77.5643
3   560001  Shivajinagar   12.9857    77.6057
4   560103     Bellandur   12.9034    77.6784

In [3]:

body = client_6de7219ad9874eafb1ec3ccb16d1bbbf.get_object(Bucket='applieddatascience-donotdelete-pr-1agmzdyi4al98c',Key='Hyderabad.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_hy = pd.read_excel(body)
df_hy.head()

   Zipcode           Name  Latitude  Longitude
0   500034  Banjara hills   17.4169    78.4387
1   500033  Jubilee Hills   17.4326    78.4071
2   500019     Gachibowli   17.4401    78.3489
3   500089      Manikonda   17.4062    78.3763
4   500019    Nallagandla   17.4748    78.3103